@import "tailwindcss";

body {
	@apply scroll-smooth text-base bg-slate-50 select-none overflow-x-hidden text-slate-800;
}

.area-disabled {
	@apply !opacity-60 active:!pointer-events-none !cursor-not-allowed;
}
